.container {
  height: 520px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.image {
  position: relative;
  width: 265px;
  height: 265px;
}
.text {
  width: 260px;
  text-align: center;
  font-size: 22px;
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
}
.button {
  margin: 0;
  font-size: 32px;
  font-family: "Futura";
  font-style: normal;
  font-weight: 600;
  border-style: none;
  background: #8f8b46;
  padding: 0 20px;
}
