@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #f5edd3;
}
.link {
  color: #000000;
  text-decoration: none;
}
.section {
  width: 100%;
  height: fit-content;
  margin: 4rem 0;
}
.titleSection {
  font-family: "Grape Nuts";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  margin: 0 10vw;
  text-align: center;
  margin-bottom: 4rem;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}
.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}
.telEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem 0;
}
.tel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
